<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euc-jp</key>
	<integer>3</integer>
	<key>gb2312</key>
	<integer>2147486000</integer>
	<key>iso-2022-jp</key>
	<integer>21</integer>
	<key>iso-8859-1</key>
	<integer>5</integer>
	<key>iso-8859-10</key>
	<integer>2147484170</integer>
	<key>iso-8859-11</key>
	<integer>2147484171</integer>
	<key>iso-8859-13</key>
	<integer>2147484173</integer>
	<key>iso-8859-14</key>
	<integer>2147484174</integer>
	<key>iso-8859-15</key>
	<integer>2147484175</integer>
	<key>iso-8859-16</key>
	<integer>2147484176</integer>
	<key>iso-8859-2</key>
	<integer>9</integer>
	<key>iso-8859-3</key>
	<integer>2147484163</integer>
	<key>iso-8859-4</key>
	<integer>2147484164</integer>
	<key>iso-8859-5</key>
	<integer>2147484165</integer>
	<key>iso-8859-6</key>
	<integer>2147484166</integer>
	<key>iso-8859-7</key>
	<integer>2147484167</integer>
	<key>iso-8859-8</key>
	<integer>2147484168</integer>
	<key>iso-8859-9</key>
	<integer>2147484169</integer>
	<key>koi8-r</key>
	<integer>2147484165</integer>
	<key>ks_c_5601-1987</key>
	<integer>2147486016</integer>
	<key>us-ascii</key>
	<integer>1</integer>
	<key>utf-8</key>
	<integer>4</integer>
	<key>windows-1250</key>
	<integer>15</integer>
	<key>windows-1251</key>
	<integer>11</integer>
	<key>windows-1252</key>
	<integer>12</integer>
	<key>windows-1253</key>
	<integer>13</integer>
	<key>windows-1254</key>
	<integer>14</integer>
	<key>windows-1255</key>
	<integer>2147484933</integer>
	<key>windows-1256</key>
	<integer>2147484934</integer>
	<key>windows-1257</key>
	<integer>2147484935</integer>
	<key>windows-1258</key>
	<integer>2147484936</integer>
	<key>x-euc-cn</key>
	<integer>2147486000</integer>
	<key>big5</key>
	<integer>2147486211</integer>
	<key>cn-big5</key>
	<integer>2147486211</integer>
	<key>x-x-big5</key>
	<integer>2147486211</integer>
	<key>big5-hkscs</key>
	<integer>2147486214</integer>
	<key>iso-2022-cn</key>
	<integer>2147485744</integer>
	<key>gb18030</key>
	<integer>2147485744</integer>
	<key>euc-kr</key>
	<integer>2147486016</integer>
	<key>gbk</key>
	<integer>2147485233</integer>
</dict>
</plist>
