<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>it.noware.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.6</string>
	<key>CFBundleSignature</key>
	<string>emal</string>
	<key>CFBundleVersion</key>
	<string>2.1.6</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 noware. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>UniversalMailer</string>
	<key>SupportedPluginCompatibilityUUIDs</key>
	<array>
		<string>1CD40D64-945D-4D50-B12D-9CD865533506</string>
<string>21599536-7086-449D-B777-B2880FC27F86</string>
	</array>
</dict>
</plist>
