<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>it.noware.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.1</string>
	<key>CFBundleSignature</key>
	<string>emal</string>
	<key>CFBundleVersion</key>
	<string>2.1.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 noware. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>UniversalMailer</string>
	<key>SupportedPluginCompatibilityUUIDs</key>
	<array>
		<string>FBE5B158-5602-4A6D-9CC5-8461B9B7054E</string>
	</array>
</dict>
</plist>
